# --- Maven ---
target/

.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

*.war
*.ear
*.jar
*.nar
*.zip
*.tar.gz
*.rar

# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
out/

# --- Java ---
*.class
*.log
*.ctxt
.mtj.tmp/

# --- OS System Files ---
.DS_Store
Thumbs.db
desktop.ini

.env

src/main/resources/email.properties
src/main/resources/captcha.properties
src/main/resources/database.properties
src/main/resources/payment.properties
src/main/resources/ghn.properties

Database/migrations/

nginx/ssl/
