# --- Maven ---
target/
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
out/

# --- Java ---
*.class
*.log
*.ctxt
.mtj.tmp/

# --- OS System Files ---
.DS_Store
Thumbs.db
desktop.ini
# --- email configure ---
email.properties.example
email.properties
config.properties
phone.properties

captcha.properties
src/main/resources/captcha.properties
src/main/resources/database.properties
src/main/resources/payment.properties

Database/migrations/

src/main/resources/ghn.properties
src/main/resources/auth.properties
src/main/resources/cloudinary.properties

# --- Gradle ---
.gradle/
build/
